* {
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
  }
  
  .flex-container {
    padding-bottom: 30px;

    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.253);
  }
  
  .flex-item-left {
    
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right {
    
    padding: 10px;
    flex: 50%;
  }
 
  
  .img-responsive{
      width: 70%;
      height: auto;
  }
  .img-responsive-g{
    width: 70%;
    height: auto;
    max-height: 100%;
}
  
  
  .card{
     margin: 1%;
  
     border-radius: 15px;
     
     color: cornsilk;
  }
  .card-body{
     margin: 2% 5%;
  }

  .box-card{
    text-align: start;
    margin: 8px;
  }
  
  .card-background{
      background: linear-gradient(60deg, rgb(0, 211, 248), rgba(115, 34, 245, 0.952));
  }
  
  .card-background2{
      background: linear-gradient(90deg, lightsalmon, rgb(255, 82, 52));
  }
  
 .section-head{
   text-align: center;
   font-size: 300%;
   font-weight: 900;
 }

  .title{
    border-left: 13px solid;
    border-image: linear-gradient(180deg, rgb(28, 190, 211), rgb(26, 49, 250));
    border-image-slice: 9;
    padding-left: 0;
    /* background-color:burlywood;  */
    width: 60%;
    margin-left: 25%;

    text-align: start;
  }
  
  
  .text-colour {
    color: rgba(243, 49, 14, 0.712);
  }
  
  .text-box {
    padding-top: 5%;
  }
  
  h1 {
    font-size: 200%;
  }
   h3 {
    font-size: 100%;
  }
  p {
    font-size: 70%;
    text-align: justify;
    margin-bottom: 20px;
  }
  
  .button12 {
    padding: 8px 15px;
    margin-top: 10px;
    background: linear-gradient(60deg, lightsalmon, rgb(255, 82, 52));
  
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-weight: 700;
    
    border: 0px;
    border-radius: 5px;
  }
  
  .button12:hover{
      box-shadow: 5px 7px 20px rgba(124, 116, 116, 0.493); 
      background: linear-gradient(60deg, rgb(0, 211, 248), rgba(108, 34, 245, 0.952));
  }
  
  .card-background3{
      background-image: url(shapes/shape-1.png) ;
      background-repeat: no-repeat;
      background-position: right top;
  }

  .card-background4{
    background-image: url(shapes/shape-10.png) ;
    background-repeat: no-repeat;
    background-position: left bottom;
  }
  .footer {
    background-color: #000000f5;
    color: rgba(255, 255, 255, 0.952);
    padding: 10px;
    text-align: center;



  }
  
  .footer h1{
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'The Nautigal', cursive;
  
    font-size: 100px;
  }

  .footer h1 span{
    font-family: inherit;
  }
  
  @media (max-width: 1200px) {
    .flex-container {
      flex-direction: column;
    }
  }